body {
  width: 1260px;
  height: 880px;
  margin:0px auto;
}
.background {
  width: 1260px;
  background-color: #edf2c5;
  margin:0px auto;
}
.main {
  width: 940px;
  height: 880px;
  margin:0px auto;
}
h1 {
  font-family: Arial;
  font-size: 44px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.82;
  letter-spacing: normal;
  text-align: left;
  color: #778a50;
  margin-bottom: 5px ;
}
.banner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5px;
}
.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn_facebook {
  width: 25px;
  height: 25px;
  object-fit: contain;
  margin-left: 10px;
}
.btn_instagram {
  width: 25px;
  height: 25px;
  object-fit: contain;
  margin-left: 10px;
}
.line_login {
  width: 1px;
  height: 25px;
  background-color: #778a50;
  margin-left: 10px;
}
.btn p{
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 5px 7px 5px 7px;
  color: #778a50;
}
.btn_LOGIN_box {
  width: 60px;
  height: 25px;
  border: solid 1px #778a50;
  border-radius: 3px;
  margin-left: 10px;
}
.btn_JOIN_box {
  width: 49px;
  height: 25px;
  border: solid 1px #778a50;
  border-radius: 3px;
  margin-left: 10px;
}

/*選單區塊*/
.nav_box {
  width: 900px;
  height: 44px;
  border-radius: 3px;
  background-color: #778a50;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  }
.nav_box li {
  display: inline-block;
}

.Home {
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 44px;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
  margin-right: 60px;
  
  }
.About-Us {
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 44px;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
  margin-right: 60px;
  }
.Vegetables {
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 44px;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
  margin-right: 60px;
  }
.Online {
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 44px;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
  margin-right: 60px;
  }

  /*大圖1*/
.img_main_pumpkin {
  width: 940px;
  height: 448px;
  object-fit: contain;
  margin-top: 10px;
}

.Part2 {
  width: 940px;
  margin-top: 30px ;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

/*左下區塊*/
.pic {
  margin-top: 15px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h2 {
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 45px;
  letter-spacing: normal;
  color: #edf2c5;
  margin-left: 30px;
}
.body_box_vegetables {
  width: 444px;
  height: 45px;
  border-radius: 3px;
  background-color: #778a50;
  margin-bottom: 15px;
}
.img_vegetables_pepper {
  width: 140px;
  height: 140px;
  object-fit: contain;
}
.img_vegetables_carrot {
  width: 140px;
  height: 140px;
  object-fit: contain;
}
.img_vegetables_corn {
  width: 140px;
  height: 140px;
  object-fit: contain;
}

/*右下區塊*/
h3 {
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 45px;
  letter-spacing: normal;
  color: #edf2c5;
  margin-left: 30px;
}
.body_box_contact {
  width: 444px;
  height: 45px;
  border-radius: 3px;
  background-color: #778a50;
}
.body_box_contact_text {
  width: 444px;
  height: 140px;
  border-radius: 3px;
  background-color: #f7fbda; 
}
.body_box_contact_text p {
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #7d7d7d;
}
.line_contact_text {
  width: 414px;
  background-color: #7d7d7d;
  margin: 0px;
}
.text {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

/*頁腳*/
.box_footer {
  height: 60px;
  background-color: #778a50;
  margin-top: 35px;
  text-align: center;
}

.box_footer p {
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 60px;
  letter-spacing: normal;
  color: #edf2c5;
}
